.content h2::after{
content: "|";
animation: typing 10s linear infinite;
}

@keyframes typing {
   
    0%{content: "Phot|";}
    5%{content: "Photogra|";}
    10%{content: "Photographer|";}
    15%{content: "Photogra|";}
    20%{content: "Phot|";}
    25%{content: "|";}
    30%{content: "Des|";}
    35%{content: "Desig|";}
    40%{content: "Designer|";}
    45%{content: "Desig|";}
    50%{content: "De|";}
    55%{content: "Devel|";}
    60%{content: "Developer|";}
    65%{content: "Devel|";}
    70%{content: "De|";}
    75%{content: "|";}
    80%{content: "Fre|";}
    85%{content: "Freela|";}
    90%{content: "Freelancer|";}
    95%{content: "Free|";}
    100%{content: "|";}
}